<div>
  <p>Your Overall Score</p>
  <p><%=  @user.show_score %></p>
</div>
<div>
  <p>Your travel Score</p>
  <p><%=  @user.show_travel_category_score%></p>
</div>
<div>
  <p>Your home Score</p>
  <p><%=  @user.show_home_category_score%></p>
</div>
<div>
  <p>Your overall Score history</p>
  <p><%=  @user.show_score_breakdown%></p>
</div>
<div>
  <p>Your travel Score history</p>
  <p><%=  @user.show_travel_category_score_breakdown%></p>
</div>
<div>
  <p>Your home Score history</p>
  <p><%=  @user.show_home_category_score_breakdown%></p>
</div>



