<!-- <div>
  <p>Your Overall Score</p>
  <p><%=  @user.show_score %></p>
</div>
<div>
  <p>Your travel Score</p>
  <p id="travel_value"><%=  @user.show_travel_category_score%></p>
</div>
<div>
  <p>Your home Score</p>
  <p id="home_value"><%=  @user.show_home_category_score%></p>
</div>
<div>
  <p>Your consumption Score</p>
  <p id="consumption_value"><%=  @user.show_consumption_category_score%></p>
</div>
<div>
  <p>Your overall Score history</p>
  <p id="score_history_value"><%=  @user.show_score_breakdown%></p>
</div>
<div>
  <p>Your travel Score history</p>
  <p><%=  @user.show_travel_category_score_breakdown%></p>
</div>
<div>
  <p>Your home Score history</p>
  <p><%=  @user.show_home_category_score_breakdown%></p>
</div> -->
<!-- <div>
  <p>Your consumption Score history</p>
  <p id="consumption_value"><%=  @user.show_consumption_category_score_breakdown%></p>
</div>
<p>Dates of the scores</p>
<ul id="dates">
  <% @user.scores.each do |score| %>
      <li><%= score.date %></li>
  <% end %>
</ul> -->
<% min_date = @user.scores.map(&:date).sort.first %>
<% max_date = @user.scores.map(&:date).sort.last %>
<div class="anotherscore fade-in one">
  <p class="plus">
  <%= link_to "+", new_answer_path,  class: "plussign"  %>
  </p>
  <p id="displaytypewriter"></p>
</div>
 <div class="payment fade-in one">
  <div class="pound">
  <%= link_to donations_path,  class: "poundsign" do %>
      <p>£ </p>
 <!--      <p id="donate">Donate</p> -->
  <% end %>
  </div>
  <p id="displaytypewriter2"></p>
</div>

<div class="chart-container">
  <div class="scoreChart fade-in two" data-score_total="<%= @user.score_object.to_json %>">
  <canvas id="myChart" width="400" height="400"></canvas>
         <div class="button-show">
  <a href="#" class="historyButton btn-standard-black">Historical Overall Scores</a>
</div>
  <div class="absolute-center text-center">
      <p><%= @user.show_score %></p>
      <p id="denominator">100</p>
    </div>
  </div>

<!--    <div class="social">
        <p class="socialclick fade-in two">Share your score</p>
        <div class="social-icons hide">
        <%= link_to 'https://www.facebook.com/', target: :_blank, class:"icon-link" do %>
       <i class="fab fa-facebook icon"></i>
     <% end %>
     <%= link_to 'https://www.linkedin.com/', target: :_blank, class:"icon-link" do %>
       <i class="fab fa-linkedin icon"></i>
     <% end %>
      </div>
    </div> -->
</div>

<div class="scoreHistoryChart hide fade-in one" data-score-historicals="<%= @user.score_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
  <div class="button-show">
  <a href="#" class="button btn-standard-black">Overall Score</a>
</div>
<canvas id="myScoreHistoryChart" width="400" height="400"></canvas>
</div>
<div class="homeHistoryChart fade-in one" data-home_score_historicals=" <%= @user.score_home_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
   <div class="button-show">
  <a href="#" class="button btn-standard-black">Overall Score</a>
</div>
<canvas id="myHomeHistoryChart" width="400" height="400"></canvas>
</div>

<div class="travelHistoryChart fade-in one" data-travel_score_historicals=" <%= @user.score_travel_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
   <div class="button-show">
  <button class="button btn-standard-black">Overall Score</button>
</div>
<canvas id="myTravelHistoryChart" width="400" height="400"></canvas>
</div>

<div class="consumptionHistoryChart fade-in one" data-consumption_score_historicals=" <%= @user.score_consumption_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
   <div class="button-show">
  <button class="button btn-standard-black">Overall Score</button>
</div>
<canvas id="myConsumptionHistoryChart" width="400" height="400"></canvas>
</div>

<div class="societyHistoryChart fade-in one" data-society_score_historicals=" <%= @user.score_society_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
   <div class="button-show">
  <button class="button btn-standard-black">Overall Score</button>
</div>
<canvas id="mySocietyHistoryChart" width="400" height="400"></canvas>
</div>
