<div>
  <p>Your Overall Score</p>
  <p><%=  @user.show_score %></p>
</div>
<div>
  <p>Your travel Score</p>
  <p id="travel_value"><%=  @user.show_travel_category_score%></p>
</div>
<div>
  <p>Your home Score</p>
  <p id="home_value"><%=  @user.show_home_category_score%></p>
</div>
<div>
  <p>Your consumption Score</p>
  <p id="consumption_value"><%=  @user.show_consumption_category_score%></p>
</div>
<div>
  <p>Your overall Score history</p>
  <p id="score_history_value"><%=  @user.show_score_breakdown%></p>
</div>
<div>
  <p>Your travel Score history</p>
  <p><%=  @user.show_travel_category_score_breakdown%></p>
</div>
<div>
  <p>Your home Score history</p>
  <p><%=  @user.show_home_category_score_breakdown%></p>
</div>
<div>
  <p>Your consumption Score history</p>
  <p id="consumption_value"><%=  @user.show_consumption_category_score_breakdown%></p>
</div>
<p>Dates of the scores</p>
<ul id="dates">
  <% @user.scores.each do |score| %>
      <li><%= score.date %></li>
  <% end %>
</ul>
<% min_date = @user.scores.map(&:date).sort.first %>
<% max_date = @user.scores.map(&:date).sort.last %>
<div class="scoreChart" data-score_total="<%= @user.score_object.to_json %>">
  <h2>Your current total score</h2>
<canvas id="myChart" width="400" height="400"></canvas>
</div>

<div class="scoreHistoryChart" data-score-historicals="<%= @user.score_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
  <h2>Your historical total scores</h2>
<canvas id="myScoreHistoryChart" width="400" height="400"></canvas>
</div>
<div class="homeHistoryChart" data-home_score_historicals=" <%= @user.score_home_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
  <h2>Your historical home scores</h2>
<canvas id="myHomeHistoryChart" width="400" height="400"></canvas>
</div>

<div class="travelHistoryChart" data-travel_score_historicals=" <%= @user.score_travel_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
  <h2>Your historical travel scores</h2>
<canvas id="myTravelHistoryChart" width="400" height="400"></canvas>
</div>

<div class="consumptionHistoryChart" data-consumption_score_historicals=" <%= @user.score_consumption_history_object.to_json %>" data-min-date="<%= min_date %>" data-max-date="<%= max_date %>">
  <h2>Your historical consumption scores</h2>
<canvas id="myConsumptionHistoryChart" width="400" height="400"></canvas>
</div>

