<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon-white">
  <%= link_to root_path, class: "navbar-brand" do %>
  <!-- decide on the logo -->
    terrascore
  <% end %>

<!-- don't need this? -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class=<%= current_class?(root_path) %>>
          <%= link_to "Home", root_path, class: "nav-link link-colour" %>
        </li>
        <li class=<%= current_class?(user_path(current_user)) %>>
          <!-- need to add the path to 'my progress' -->
          <%= link_to "Dashboard", user_path(current_user), class: "nav-link link-colour" %>
        </li>
        <li class="nav-item dropdown">
          <!-- need to link to cloudinary -->
          <%= cl_image_tag current_user.photo, width: 40, height: 40, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <!-- create an 'Edit profile' section -->
            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
