<div class="progress-header">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</div>

<div class="answer-new-container">

  <div class="category-section">

    <div class="category-header">
      <h1>Travel</h1>
      <p>Please answer the following questions about your travel lifestyle</p>
    </div>

    <div class="category-questions">
      <% @questions.where(category_id: 1).each do |question| %>
        <div class="question" id="<%= @questions.index(question) %>">
          <h4><%= question.content %></h4>
          <% question.options.each do |option| %>
              <input type="checkbox" name="answer" id="option-<%= option.id %>" class="options" data-option="<%= option.id %>">
              <span> <%= option.content %></span>
              <br>
              <br>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="category-section">

    <div class="category-header">
      <h1>Home</h1>
      <p>Please answer the following questions about your home</p>
    </div>

    <div class="questions">
      <% @questions.where(category_id: 2).each do |question| %>
        <div class="question" id="<%= @questions.index(question) %>">
          <h4><%= question.content %></h4>
          <% question.options.each do |option| %>
              <input type="checkbox" name="answer" id="option-<%= option.id %>" class="options" data-option="<%= option.id %>">
              <span> <%= option.content %></span>
              <br>
              <br>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="category-section">

    <div class="category-header">
      <h1>Food</h1>
      <p>Please answer the following questions about your food consumption</p>
    </div>

    <div class="category-questions">
      <% @questions.where(category_id: 3).each do |question| %>
        <div class="question" id="<%= @questions.index(question) %>">
          <h4><%= question.content %></h4>
          <% question.options.each do |option| %>
              <input type="checkbox" name="answer" id="option-<%= option.id %>" class="options" data-option="<%= option.id %>">
              <span> <%= option.content %></span>
              <br>
              <br>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="category-section">

    <div class="category-header">
      <h1>Society</h1>
      <p>Please answer the following questions about your relationship with society</p>
    </div>

    <div class="questions">
      <% @questions.where(category_id: 4).each do |question| %>
        <div class="question" id="<%= @questions.index(question) %>">
          <h4><%= question.content %></h4>
          <% question.options.each do |option| %>
              <input type="checkbox" name="answer" id="option-<%= option.id %>" class="options" data-option="<%= option.id %>">
              <span> <%= option.content %></span>
              <br>
              <br>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>


  <div class="actions">
<!--     <button class="btn-standard-white" id="previous">Previous</button> -->
    <button class="btn-standard-black" id="next">Next Category</button>
    <button class="btn-standard-black" id="submit" data-url="<%= user_url(current_user) %>">Submit</button>
    <%#= link_to "Submit", user_path(current_user), id:"submit", class: "btn-standard-black"  %>

  </div>
</div>
<!--
    previousButton.classList.remove("invisible");
    previousButton.classList.add("visible"); -->


<!-- start with the Travel Section -->
<!--  -->
