<!-- <div class="home-banner">
  <h1>Welcome to <span style="color: white;">terrascore</span></h1>
  <h2>Become <span style="color: green;">Greener</span>.</h2>
</div>
 -->



<div id="mySidenav" class="sidenav">
  <%= link_to "Close", root_path, class: "closebtn" %>
  <% if !user_signed_in? %>
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Register", new_user_registration_path %>
  <% else %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>
</div>



<!-- Use any element to open the sidenav -->
<!-- <span >open</span> -->


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

<div class="main">
  <!-- The video -->
  <video autoplay muted loop id="myVideo">
    <source src="<%= image_path('Ocean.mp4') %>" type="video/mp4">
  </video>

  <!-- Optional: some overlay text to describe the video -->
  <div class="landing-text">
    <h1>terrascore</h1>
    <p>The impact of your lifestyle is now trackable</p>
    <!-- Use a button to pause/play the video with JavaScript -->
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
          Measure your
        </p>

        <ul class="content__container__list">
          <li class="content__container__list__item">diet</li>
          <li class="content__container__list__item">home</li>
          <li class="content__container__list__item">travel</li>
          <li class="content__container__list__item">donations</li>
        </ul>
      </div>
    </div>
    <button id="start" class=“btn-standard-white”>Get Started</button>
  </div>
</div>


<!--


<header>
  <div class="overlay"></div>
  <video autoplay muted loop id="myVideo">
    <source src="<%= image_path('Ocean.mp4') %>" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">terrascore</h1>
        <p class="lead mb-0">This may just save us</p>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="content">
          <div class="content__container">
            <p class="content__container__text">
              Measure your
            </p>

            <ul class="content__container__list">
              <li class="content__container__list__item">diet</li>
              <li class="content__container__list__item">home</li>
              <li class="content__container__list__item">travel</li>
              <li class="content__container__list__item">donations</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


 -->

