<div class="container">

  <div class="charity-info">

    <div class="charity-info-text">
      <h1><%= @donation.name %></h1>
      <p><%= @donation.description %></p>
    </div>
    <%= cl_image_tag(@donation.photo, width: '100%') %>
  </div>

  <div class="donation-amount">
    <p>Specify your desired donation amount:</p>
    <%= form_tag orders_path do %>
      <%= text_field_tag 'price', '£' %>
      <%= hidden_field_tag 'donation_id', @donation.id %>
      <%= submit_tag 'Donate', class: 'btn-standard-black' %>
    <% end %>
  </div>

</div>
